<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<link media="only screen and (max-device-width: 480px)" href="[% c.uri_for('/static/') %]style.css" type= "text/css" rel="stylesheet" />
<script src="[% c.uri_for('/static/javascript/ext/jquery-1.4.4.min.js') %]"
  type="text/javascript"></script>
</head>
<body>
<script>
function attack()
{

	var data = $.ajax({
						type: "GET",
						url: "[% c.uri_for('/attack') %]",
						dataType: "json",
						cache: false,
						success: function(json){
								$('#status').html( 'XP: '+json.robot.xp+' Health:'+json.robot.health );
								$('#position').html( 'X: '+json.robot.x+' Y:'+json.robot.y );
							}
						});

}
function warp()
{

	var data = $.ajax({
						type: "GET",
						url: "[% c.uri_for('/warp') %]",
						dataType: "json",
						cache: false,
						success: function(json){
								$('#position').html( 'X: '+json.robot.x+' Y:'+json.robot.y );
							}
						});

}
</script>
<div class="header"> </div>
<p>
Welcome Killer Bot [% bot.id %].
</p>
<div>
<div id="status"> XP: [% bot.xp %] Health: [% bot.health %] </div>
<div id="position" > X: [% bot.x %] Y: [% bot.y %] </div>
</div>
<form>
<br />
<input type="button" value="Attack" onclick="attack() " />
<br />
<input type="button" value="Warp Away" onclick="warp()"/>
</form>
<br />
<div id="canvas" style="width:800px; height:600px; border: 1px black solid;" > </div>
<div class="footer"> </div>
<script>

function callComplete(json)
{
	$('#canvas').html('');
	var c_p = $('#canvas').position();
	for(i=0; i < json.robots.length; i++)
	{
		var robot = json.robots[i];
		var y = parseFloat(robot['y']) + c_p.top;
		$('#canvas').append(' <img src="[%c.uri_for('/static/images/robot.png') %]" style=" position: absolute; left:'+robot['x']+'px; top:'+y+'px " alt="'+robot['id']+'" />' );

	}
	var h_y =  parseFloat(json.hero.y) + c_p.top;
	$('#canvas').append(' <div style=" position: absolute; left:'+json.hero.x+'px; top:'+h_y+'px ">Hero</div>' );

	connect();
};

function connect() {

	$.post('[% c.uri_for('/status_comet') %]', {}, callComplete, 'json');


}

$(document).ready( function() {	$.post('[% c.uri_for('/status') %]', {}, callComplete, 'json') } );



</script>
</body>
</html>
