<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<link media="only screen and (max-device-width: 480px)" href="[% c.uri_for('/static/') %]style.css" type= "text/css" rel="stylesheet" />
<script src="[% c.uri_for('/static/javascript/ext/jquery-1.4.4.min.js') %]"
  type="text/javascript"></script>
<script src="[% c.uri_for('/static/javascript/ext/pi.1.1.1.min.js') %]"  
  type="text/javascript"></script>
<script src="[% c.uri_for('/static/javascript/ext/pi.comet.1.2.js') %]"  
  type="text/javascript"></script>
</head>
<body>
<script>
function attack()
{

	var data = $.ajax({
						type: "GET",
						url: "[% c.uri_for('/status') %]",
						dataType: "json",
						cache: false,
						success: function(json){
								alert( json.message);
							}
						});

}
function warp()
{

	var data = $.ajax({
						type: "GET",
						url: "[% c.uri_for('/warp') %]",
						dataType: "json",
						cache: false,
						success: function(json){
								$('#position').html( 'X: '+json.x+' Y:'+json.y );
							}
						});

}
</script>
<div class="header"> </div>
<p>
Welcome Killer Bot [% bot.id %].
</p>
<div>
XP: [% bot.xp %] Health: [% bot.health %]
<div id="position" > X: [% bot.x %] Y: [% bot.y %] </div>
</div>
<form>
<br />
<input type="button" value="Attack" onclick="attack() " />
<br />
<input type="button" value="Warp Away" onclick="warp()"/>
</form>
<br />
<div id="canvas" style="width:800px; height:600px; border: 1px black solid;" > </div>
<div class="footer"> </div>
<script>

	var stream = pi.comet.get(
		'[% c.uri_for('/status_comet') %]',
		function (_response) { alert(_response ); },
		function () { alert('Connection is closed'); }

	);
</script>
<pre>
	function canvas_update()
	{  $.ajax({
						type: "GET",
						url: "[% c.uri_for('/status') %]",
						dataType: "json",
						cache: false,
						success: function(json){
								$('#canvas').html('');
								for(i=0; i < json.robots.length; i++)
								{
									var robot = json.robots[i];
									$('#canvas').append(' <img src="[%c.uri_for('/static/images/robot.png') %]" style=" position: relative; left:'+robot['x']+'px; top:'+robot['y']+'px " alt="'+robot['id']+'" />' );
								
								}
									$('#canvas').append(' <div style=" position: relative; left:'+json.hero.x+'px; top:'+json.hero.y+'px ">Hero</div>' );

							}
						});

	}


	setInterval( 'canvas_update()', 400 );


</pre>
</body>
</html>
